Repository BioSchemas/bioschemas.github.io, pull requests merged in 2020-09, with the labels that each got.

#318 Workflow redirect fix
  _profiles/ComputationalWorkflow/0.1-DRAFT-2019_02_08.html
  _profiles/ComputationalWorkflow/0.2-DRAFT-2019_11_29.html
  _profiles/ComputationalWorkflow/0.3-DRAFT-2020_03_03.html
  _profiles/ComputationalWorkflow/0.4-DRAFT-2020_05_11.html
  _profiles/ComputationalWorkflow/0.5-DRAFT-2020_07_21.html
Labels: bug, profile

#319 Added missing redirect
  _types/ChemicalSubstance/0.3-RELEASE-2019_09_02.html
Labels: bug, prior: high

#321 Opalesurfcasting dataset taxon - Legal awareness - French leisure sea fishing
  _liveDeploys/liveDeploy.md
Labels: Live Deploy

#322 Updated NMNHParis live deploy entry
  _liveDeploys/liveDeploy.md
Labels: Live Deploy

#274 MassBank Europe deployment
  _liveDeploys/liveDeploy.md
Labels: Live Deploy
