Repository BioSchemas/bioschemas.github.io, pull requests merged in 2020-05, with the labels that each got.

#258 New meeting ahm2020
  _meetings/2020-05_EIPvF2F.md
  _meetings/2020-06_ELIXIRAllHands2020.md
  publications/index.html
Labels: enhancement

#252 Old profile URL redirects
  404.html
  _profiles/Beacon/0.2-DRAFT-2018_04_23.html
  _profiles/BioSample/0.1-DRAFT-2019_11_12.html
  _profiles/ChemicalSubstance/0.4-RELEASE.html
  _profiles/Course/0.7-DRAFT-2019_11_08.html
  _profiles/CourseInstance/0.7-DRAFT-2019_11_08.html
  _profiles/DataCatalog/0.3-RELEASE-2019_07_01.html
  _profiles/DataRecord/0.2-DRAFT-2019_06_14.html
  _profiles/Dataset/0.3-RELEASE-2019_06_14.html
  _profiles/Event/0.2-DRAFT-2019_06_14.html
  _profiles/Gene/0.5-DRAFT-2019_06_14.html
  _profiles/Gene/0.7-RELEASE.html
  _profiles/Journal/0.1-DRAFT-2019_11_21.html
  _profiles/LabProtocol/0.3-DRAFT-2019_06_14.html
  _profiles/MolecularEntity/0.5-RELEASE.html
  _profiles/Organization/0.2-DRAFT-2019_07_19.html
  _profiles/Person/0.2-DRAFT-2019_07_19.html
  _profiles/Phenotype/0.1-DRAFT-2018_11_15.html
  _profiles/Protein/0.11-RELEASE.html
  _profiles/Protein/0.6-RELEASE-2018_11_10.html
  _profiles/Protein/0.9-DRAFT-2019_08_20.html
  _profiles/ProteinAnnotation/0.4-DRAFT-2018_02_25.html
  _profiles/ProteinStructure/0.5-DRAFT-2018_08_15.html
  _profiles/PublicationIssue/0.1-DRAFT-2019_02_08.html
  _profiles/PublicationVolume/0.1-DRAFT-2019_02_15.html
  _profiles/RNA/0.1-DRAFT-2019_11_15.html
  _profiles/Sample/0.2-RELEASE-2018_11_10.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_03_15.html
  _profiles/SemanticAnnotation/0.1-DRAFT-2019_11_19.html
  _profiles/Study/0.1-DRAFT-2018_11_15.html
  _profiles/Taxon/0.4-DRAFT-2019_06_24.html
  _profiles/Taxon/0.6-RELEASE.html
  _profiles/Tool/0.4-DRAFT-2019_07_19.html
  _profiles/TrainingMaterial/0.7-DRAFT-2019_11_08.html
  _profiles/Workflow/0.4-DRAFT-2020_05_11.html
Labels: bug

#265 Add use cases for scholarly publications profiles
  _profiles/Journal/0.1-DRAFT-2019_01_29.html
  _profiles/Journal/0.1-DRAFT-2019_01_31.html
  _profiles/Journal/0.1-DRAFT-2019_02_08.html
  _profiles/Journal/0.1-DRAFT-2019_03_02.html
  _profiles/Journal/0.1-DRAFT-2019_03_15.html
  _profiles/Journal/0.1-DRAFT-2019_09_05.html
  _profiles/Journal/0.1-DRAFT-2019_11_20.html
  _profiles/Journal/0.1-DRAFT-2019_11_21.html
  _profiles/PublicationIssue/0.1-DRAFT-2019_01_31.html
  _profiles/PublicationIssue/0.1-DRAFT-2019_02_08.html
  _profiles/PublicationVolume/0.1-DRAFT-2019_01_31.html
  _profiles/PublicationVolume/0.1-DRAFT-2019_02_08.html
  _profiles/PublicationVolume/0.1-DRAFT-2019_02_14.html
  _profiles/PublicationVolume/0.1-DRAFT-2019_02_15.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_01_31.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_02_03.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_02_08.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_02_14.html
  _profiles/ScholarlyArticle/0.1-DRAFT-2019_03_15.html
  _profiles/SemanticAnnotation/0.1-DRAFT-2019_02_08.html
  _profiles/SemanticAnnotation/0.1-DRAFT-2019_11_19.html
  _useCases/ScholarlyPublications.html
Labels: use case

#285 Adding eDGAR to live deploy list
  _liveDeploys/liveDeploy.md
Labels: Live Deploy

#284 Adding PhenPath to live deploy page
  _liveDeploys/liveDeploy.md
Labels: Live Deploy

#288 Adding protein and dataset for Guide to Pharmacology
  _liveDeploys/liveDeploy.md
Labels: Live Deploy
