Repository BioSchemas/bioschemas.github.io, pull requests merged in 2021-09, with the labels that each got.

#419 Add FAIRsharing sitemap
  _data/live_deployments.json
Labels: Live Deploy

#426 Add InterPro to list of live deploys
  _data/live_deployments.json
Labels: Live Deploy

#457 Add BioHackathon 2021 to list of events
  _meetings/2021-11_BioHackaton2021.md
Labels: Meetings

#459 Fix https://github.com/BioSchemas/specifications/issues/536
  _types/ComputationalWorkflow/1.0-RELEASE.html
  _types/FormalParameter/1.0-RELEASE.html
Labels: bug, type

#461 Website rebuild news
  pages/_posts/2021-09-22-WebsiteRebuild.md
Labels: News

#460 Add Bioversions to live_deployment.json
  _data/live_deployments.json
Labels: Live Deploy

#255 Created profile for Carl Boettiger
  pages/_groups/Biodiversity.md
  pages/_people/CarlBoettiger.md
Labels: people

#466 Update next community call date
  index.html
Labels: Meetings
