Repository BioSchemas/bioschemas.github.io, pull requests merged in 2021-06, with the labels that each got.

#413 First draft of creating a new profile tutorial
  _includes/navbar.html
  tutorials/howto/howto_add_markup.md
  tutorials/howto/howto_create_new_profile.md
  tutorials/howto/howto_right_profile.md
  tutorials/howto/images_create_new_profile/bioschemasFields.png
  tutorials/howto/images_create_new_profile/profileInfo.png
  tutorials/howto/images_create_new_profile/propertiesInitial.png
  tutorials/howto/images_create_new_profile/propertiesMarginality.png
  tutorials/index.md
Labels: training

#415 Add IMI Data Catalog to live deploys
  _data/live_deployments.json
Labels: Live Deploy

#414 Replace Google's SDTT with Schema.org Markup Validator on Live Deploy page
  liveDeploys/index.html
Labels: Live Deploy, enhancement

#395 Add new tutorial on how to create draft profile
  _includes/navbar.html
  tutorials/howto/howto_add_github.md
  tutorials/howto/howto_add_markup.md
  tutorials/howto/howto_check_deploy.md
  tutorials/howto/howto_create_new_profile.md
  tutorials/howto/howto_new_profile_version.md
  tutorials/howto/howto_right_profile.md
  tutorials/images/from_schema_to_spreadsheet.png
  tutorials/images/publish-to-web.png
  tutorials/index.md
Labels: enhancement, training

#421 Diseases Group and Disease Profile v0.1-DRAFT
  _data/profile_versions.yaml
  _groups/Diseases.md
  _people/MarcHanauer.md
  _people/MarcoRoos.md
  _people/RajaramKaliyaperumal.md
  _profiles/Disease/0.1-DRAFT.html
  _useCases/Disease.html
Labels: people, profile, use case, working group

#418 Fix URL used by Schema.org validator
  liveDeploys/index.html
Labels: bug

#425 Add summary of outcomes of helpdesk session
  _meetings/2021-06_ELIXIRAllHands2021.md
Labels: Meetings, training

#424 Add Orphanet to the list of live deploys
  _data/live_deployments.json
  _data/live_deployments_schema.json
  _profiles/Disease/0.1-DRAFT.html
Labels: Live Deploy

#420 Slide links for Data Management workshop at ELIXIR All Hands Meeting
  _meetings/2021-06_ELIXIRAllHands2021.md
Labels: prior: high

#428 Validator Meeting
  _layouts/meeting.html
  _meetings/2021-07-15_Validation.md
  _people/GingerTsueng.md
Labels: Meetings, people

#429 Fix broken links to related communities page
  _includes/navbar.html
  index.html
Labels: bug, prior: high

#431 Add BMRB to live deploy list
  _data/live_deployments.json
Labels: Live Deploy

#430 Fix Missing Redirects for DNA and RNA types
  _types/DNA/0.2-DRAFT-2019_06_20.html
  _types/RNA/0.1-DRAFT-2019_06_21.html
Labels: bug
