Repository BioSchemas/bioschemas.github.io, pull requests merged in 2022-07, with the labels that each got.

#561 Update next call date
  index.html
Labels: Meetings

#560 Add bioinformatics.ca to live deploys
  _data/live_deployments.json
  pages/_news/2022-07-22-Bioinformatics-ca-Deployments.md
Labels: Live Deploy

#559 Add EBI training to live deploy list
  _data/live_deployments.json
  pages/_news/2022-07-21-EBI-Training-Deployments.md
Labels: Live Deploy

#554 Update 2022-01_SWAT4HCLS_leiden.html
  _data/live_deployments.json
  pages/_meetings/2022-01_SWAT4HCLS_leiden.html
Labels: enhancement
