Repository BioSchemas/bioschemas.github.io, pull requests merged in 2022-11, with the labels that each got.

#605 Updated the leaders
  pages/_groups/Chemicals.md
Labels: people, working group

#642 Add data dump details to the live deploy page
  _data/live_deployments.json
  _data/live_deployments_schema.json
  _includes/live-deploy-site-info.html
  pages/_developer/liveDeploys.html
Labels: enhancement, Live Deploy

#690 Correct to Vice Chair
  pages/_news/2022-11-10-Steering-Council-Update.md
Labels: bug, prior: high

#691 Fix address for Rhea dump
  _data/live_deployments.json
Labels: bug, Live Deploy

#693 Add SIB training portal to live deploys
  _data/live_deployments.json
  pages/_news/2022-11-17-SIBTrainingPortal.md
Labels: Live Deploy

#712 Added ELIXIR-DE Hackathon
  pages/_meetings/2022-12_BioHackaton-Germany2022.md
Labels: Meetings

#576 how to chose ComputationalTool or Computational Workflow profile
  pages/_tutorials/howto/howto_right_profile.md
Labels: training
